/*! Place your custom styles here */
.text-black{
  color: black !important
}

.text-white{
  color: white !important
}

.text-black p{
  color: black !important
}
.text-black a{
  color: black !important
}

.text-white p{
  color: white !important
}

.text-white a{
  color: white !important
}

p{
  font-size: 16px;
}

#post-content li{
  font-size: 16px;
  margin-bottom: 1.85714286em;
}
#post-content ul{
  list-style: disc;
  margin-left: 1.85714286em;
}
.min-height-100{
  position: absolute;
  width: 100%;
  min-height: 100%;
}

#home-main-section h1{
  font-weight: 600;
  font-size:64px;
}