var sqlconfig = {
  userName: 'converfit',
  password: 'C0nv3rf1t',
  server: 'converfit.database.windows.net',
  options: {encrypt: true, database: 'converfit-develop',requestTimeout: 0}
};

if(process.env.NODE_ENV == "production" || process.env.NODE_ENV == "hotfix"){
  sqlconfig.options.database = "converfit-master";
}
module.exports = sqlconfig;
