extends ../layout

block content
  div(class="main-container")
    section(class="height-100 bg--dark text-center")
      div(class="container pos-vertical-center")
        div(class="row")
          div(class="col-sm-12")
            h1(class="h1--large") 404
            p(class="lead") Lo sentimos pero la p치gina que est치s buscando no est치 disponible.
            a(href="index.html") Volver a la p치gina principal
