extends ../layout

block content
  section(class='bg--secondary')
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
          h1 Política de Cookies
  section
    div(class='container')
      div(class='row')
        div(class='col-sm-10 col-md-8')
          article
            p http://www.converfit.com así como http://conver.fit son propiedad y están gestionadas por Citious Team, S.L.
            p Citious Team, S.L. tiene la obligación legal de informar y de obtener el consentimiento del interesado acerca del uso de las cookies en la navegación por ambas. 
            p A continuación encontrarás información detallada sobre las cookies empleadas en estas páginas web así como sus características, finalidades y forma de deshabilitarlas.
            span(class='h4') 1.- COOKIES
            p Una cookie es un fichero que se descarga en tu ordenador al acceder a una determinada página web. Las cookies permiten a dicha página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario y mejorar el servicio ofrecido. 
            span(class='h4') 2.- TIPOLOGÍA DE COOKIES
            p http://www.converfit.com así como http://conver.fit emplean cookies propias y de terceros pudiendo tratarse de cookies de sesión o cookies persistentes.
            p El uso de estas cookies nos permite optimizar tu navegación, adaptando la información y los servicios ofrecidos a tus intereses para proporcionarte una experiencia más ágil e intuitiva.
            p Las cookies se asocian únicamente a un usuario anónimo y su ordenador/dispositivo y no proporcionan referencias que permitan conocer datos personales.
            span(class='h5') Cookies de terceros
            p http://www.converfit.com así como http://conver.fit  utilizan Google Analytics, un servicio de analítica web desarrollado por Google Inc., que permite la medición y análisis de la navegación en las páginas web.
            p Las cookies utilizadas por Google Analytics para control estadístico de accesos son:
            ul
              li _utma: Es el identificador de visitantes. Guarda información relativa a la sesión y tiene una caducidad de dos años a partir de su creación. 
              li _utmb: Se utiliza para conocer el tiempo que pasa el usuario en nuestra página web y el número de páginas que visita. Esta cookie expira a los 30 minutos. 
              li _utmc: Esta cookie se utiliza de forma conjunta con __utmb para determinar si se establece una nueva sesión para el usuario. Esta cookie expira cuando se cierra el navegador. 
              li _utmz: Está cookie se utiliza para realizar la atribución de la visita, es decir, desde dónde y cómo ha llegado el usuario a nuestra web. Tiene una duración de 6 meses. 
              li _utmv: Está cookie se utiliza para almacenar datos variables a nivel de visita, y se actualiza cada vez que se envía información a Google Analytics.
            p Puedes encontrar más información al respecto e inhabilitar el uso de estas cookies:
            www.google.es/intl/es/analytics/privacyoverview.html
            span(class='h4') 3.- CONSENTIMIENTO
            p Al navegar y continuar en nuestra página web consientes el uso de las cookies descritas en las condiciones expresadas en la presente Política de Cookies.
            span(class='h4') 4.- MODIFICAR LA CONFIGURACIÓN DE LAS COOKIES
            p Puedes restringir, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones del navegador instalado en tu ordenador:
            p Internet Explorer: windows.microsoft.com/es-xl/internet-explorer/deletemanage-cookies#ie="ie-10" 
            p FireFox: support.mozilla.org/es/kb/Borrar%20cookies
            p Chrome: support.google.com/chrome/answer/95647? hl="es"
            p Safari: www.apple.com/es/privacy/use-of-cookies/
            p La configuración de tu navegador para rechazar todas las cookies o, expresamente las cookies de http://www.converfit.com así como http://conver.fit  esto no te impedirá navegar por la página web, aunque en dicha navegación no podrás disfrutar de las funcionalidades que requieran la instalación de alguna de ellas, en concreto, las funcionalidades indicadas en las cookies propias.
            p Para cualquier duda o consulta acerca de esta política de cookies no dude en comunicarse con nosotros a través de la sección de contacto.


            
