extends ../layout

block content
  script.
    var appPath = "#{appPath}";
  section(class='text-center')
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
          h1 Nuestros Plugins
          p(class="lead") Utiliza nuestros plugins para integrar de forma más sencilla Converfit en tu web
  section(class="")
    div(class="row")
      div(class="col-md-3 text-center")
        img(src="/assets/img/magento_icon.png")
        h3 Magento
        p(class="small")
          | Nuestro plugin es compatible
          br
          | para Magento a partir de 1.8
        a(class="btn btn--secondary type--uppercase" href="#")
          span(class="btn__text") Pronto Disponible
      div(class="col-md-3 text-center")
        img(src="/assets/img/wordpress_icon.png")
        h3 Wordpress
        p(class="small")
          | Nuestro plugin es compatible
          br
          | para Wordpress a partir de 4.5
        a(class="btn btn--primary type--uppercase" target="_blank" href="/plugins/wp_converfit.zip")
          span(class="btn__text") Descargar
      div(class="col-md-3 text-center")
        img(src="/assets/img/prestashop_icon.png")
        h3 Prestashop
        p(class="small")
          | Nuestro plugin es compatible
          br
          | para Prestashp 1.6 y 1.7
        a(class="btn btn--primary type--uppercase" target="_blank" href="/plugins/prestashop_converfit.zip")
          span(class="btn__text") Descargar
      div(class="col-md-3 text-center")
        img(src="/assets/img/shopify_icon.png")
        h3 Shopify
        p(class="small")
          | Nuestro plugin totalmente compatible
          br
          | con cualquier versión de Shopify

        a(class="btn btn--secondary type--uppercase" href="#")
          span(class="btn__text") Pronto Disponible
      div(class="col-md-3 text-center")

  section(class='text-center')
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
          h2 ¿No encuentras tu plugin o tienes alguna duda?
          p(class="lead")
           | Nuestro equipo te ayudará a instalar Converfit en tu sitio web contacta
           br
           | con nostros en info@converfit.com y te echaremos una mano :)
          div
            a(class="btn btn--secondary type--uppercase" href="mailto:info@converfit.com")
              span(class="btn__text") Enviar email
